/********************
    générique
********************/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/********************
    base
********************/

body {
    font: normal 1.125rem "Raleway", sans-serif;
    background-color: white;
    color: black;
}

/********************
    mise en page
********************/

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}


/********************
    elements/typo
********************/

p {
    font: normal 1.125rem "Roboto", sans-serif;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    line-height: 100%;
    padding: 10px 30px;
    border: #d300b7 4px solid;
    border-radius: 50vh;
    color: #d300b7;
    font-weight: bold;
    align-self: center;
}

button:hover {
    background-color: #d300b7;
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    font: bold 4rem "Raleway", sans-serif;
    color: #d300b7;
    margin: 0;
}

h2 {
    margin: 0;
    font: bold 3rem/110% "Raleway", sans-serif;
}

h3 {
    color: #d300b7;
    font: bold 2rem/110% "Raleway", sans-serif;
    text-transform: uppercase;
    margin: 0;
    margin-top: 30px;
}

/********************
    Component
********************/

/* header */

header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

header a {
    color: black;
}

header nav a:hover {
    color: #d300b7;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font: bolder 1.75rem "Raleway", sans-serif;
    text-transform: uppercase;
}

header ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* hero */

.hero {
    margin-top: 56px;

    background: url(../images/hero.png) no-repeat top center/cover;
}

.hero p {
    font: normal 1.5rem "Roboto", sans-serif;
    color: white;
}

.hero .wrapper {
    height: 650px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero button {

    align-self: center;
}

.carré {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 550px;
    min-height: 427px;
    padding: 40px;
    border-radius: 20px;
    flex-direction: column;
}

.carré p {
    margin: 30px;
}

/* content */

.content {
    padding-top: 100px;
    color: white;
    background-color: #222;
    text-align: center;
}

section .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card {
    display: flex;
    padding: 20px 20px 40px;
    margin-top: 70px;
    background-color: white;
    color: #000;
    flex-direction: column;
    margin-bottom: 100px;
    position: relative;
}

.card .corner {
    position: absolute;
    top: -50px;
    right: -50px
}

.card button {
    margin-top: auto;
}

.card p {
    font: normal 1.125rem/160% "Roboto", sans-serif;
}

/* footer */

footer {
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 20;
    align-items: center;
}